

.divider{
    width: 100%;
}

// .NavBarDiv {
//     display: flex; /* Change display to flex */
//     justify-content: center;
//     height: 100%; /* Ensure the container takes up full height */
//     h3 {
//         /* Remove margin from <h3> elements */
//         margin: 0;
//     }
    
//     /* Adjust styling for the anchor tag */

// }


// .wrapper{
//     display: flex;
//     justify-content: center;
//     align-content: center;
// }




.sideBar{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right: 1px solid black;
}