.x-mark-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; /* Adjust the size as needed */
    height: 48px; /* Adjust the size as needed */
    background-color: red;
    border-radius: 50%;
  }
  
  .x-mark-icon {
    color: white;
    font-size: 32px; /* Adjust the size as needed */
  }
  


.check-mark-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; 
    height: 48px; 
    background-color: green;
    border-radius: 50%;
  }
  
  .check-mark-icon {
    color: white;
    font-size: 32px;
  }
  
.success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}




.x-mark-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; /* Adjust the size as needed */
    height: 48px; /* Adjust the size as needed */
    background-color: red;
    border-radius: 50%;
  }
  
  .x-mark-icon {
    color: white;
    font-size: 32px; /* Adjust the size as needed */
  }
  