.wrapper {
    margin: 10px 20px; 
    height: 100%;
}

.productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productDetails img {
    width: 50rem; 
    max-height: 70rem; 
    height: auto; 
    object-fit: cover;
}

.productDetails div {
    margin-top: 10px;
}

.productDetails h4, .productDetails h5 {
    margin:0px;
}

.productDetails Button {
    margin-top: 20px;
    width: 25rem;
    margin-bottom: 20px;
}

.productDetails p {
    margin-top: 10px;
}
