
.admin {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    .NavBarContainer{
        display:flex;
        height:110%;
        width:auto;
        // padding: 20px;
        flex-direction: column;
        // align-content: center;     
        align-content: right;   
        border-right: 2px solid rgba(47, 40, 40, 0.344);
        
    }

    

    .AddProductContainer {
        display:grid;
        grid-template-rows: 10% 100%;
        padding: 5px;
        margin: 10px;
    }


    

}


.btn {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: black;
    padding: 1rem 10px;
    margin: 0 auto;
    border: 0;
    outline: none;
    cursor: pointer;
  }


  .manageProducts {
    h1 {
      margin-top: 1.5rem;
      margin-right: 12rem;

    }
  
    table.results {
      tr {
  
        &:nth-child(even) {
          background-color: #d3d3d3;
        }
  
        .thumb {
          width: 15.0rem;
          margin: 0 auto;
        }
  
      }
    }
  }
  
  @media only screen and (max-width: 980px) {
    .manageProducts {
    

      table {
        width: 100%;
  
        .results {
          width: 100%;
  
          tr td {
            display: block;
            width: 100%;
  
            img {
              display: block;
              width: 100% !important;
            }
          }
        }
      }
    }
  }


  @media only screen and (max-width: 620px) {
    .manageProducts {
        h1{
            font-size: 15;
        }

      table {
        width: 100%;
  
        .results {
          width: 100%;
  
          tr td {
            display: block;
            width: 100%;
  
            img {
              display: block;
              width: 100% !important;
            }
          }
        }
      }
    }

    .btn{
        font-size: 15px;
    }
  }



  